{
  "openapi": "3.0.3",
  "info": {
    "title": "Creoline API Docs",
    "description": "Hello and welcome to our API documentation.\n\nAll endpoints that you can use are listed on the left-hand side.\n\nClicking on the respective endpoint will take you to the endpoint. ",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.creoline.com/v1"
    }
  ],
  "tags": [
    {
      "name": "CDN",
      "description": ""
    },
    {
      "name": "DNS",
      "description": ""
    },
    {
      "name": "Domains",
      "description": ""
    },
    {
      "name": "Endpoints",
      "description": ""
    },
    {
      "name": "Network",
      "description": ""
    },
    {
      "name": "Server",
      "description": ""
    }
  ],
  "components": {
    "securitySchemes": {
      "default": {
        "type": "apiKey",
        "name": "X-Api-Token",
        "in": "header",
        "description": "Nutzen Sie zur Authentifizierung den API-Schlüssel Ihrer Organisation"
      }
    }
  },
  "security": [
    {
      "default": []
    }
  ],
  "headers": {
    "Content-Type": "application/json",
    "Accept": "application/json"
  },
  "paths": {
    "/cdn/check": {
      "post": {
        "summary": "",
        "operationId": "postCdnCheck",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "4Za3f6PavkVe6d5Dhg81bEc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "tags": [
          "CDN"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "",
                    "example": "id",
                    "nullable": false
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        }
      }
    },
    "/cdn/cache": {
      "delete": {
        "summary": "",
        "operationId": "deleteCdnCache",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "4VbDfZE3a16dkvPh65a8cge",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "tags": [
          "CDN"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "",
                    "example": "reiciendis",
                    "nullable": false
                  },
                  "paths": {
                    "type": "object",
                    "description": "",
                    "example": [],
                    "nullable": false,
                    "properties": {}
                  }
                },
                "required": [
                  "domain",
                  "paths"
                ]
              }
            }
          }
        }
      }
    },
    "/dns/zone": {
      "get": {
        "summary": "",
        "operationId": "getDnsZone",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "b51663hePkE8cvVafDaZd4g",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "name_ace": "creolineserver.in",
                        "name_idn": "creolineserver.in",
                        "zone": "domain",
                        "dnssec": null
                      },
                      {
                        "name_ace": "creolineserver.in",
                        "name_idn": "creolineserver.in",
                        "zone": "domain",
                        "dnssec": null
                      }
                    ]
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "name_ace": "creolineserver.in",
                          "name_idn": "creolineserver.in",
                          "zone": "domain",
                          "dnssec": null
                        },
                        {
                          "name_ace": "creolineserver.in",
                          "name_idn": "creolineserver.in",
                          "zone": "domain",
                          "dnssec": null
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "name_ace": {
                            "type": "string",
                            "example": "creolineserver.in"
                          },
                          "name_idn": {
                            "type": "string",
                            "example": "creolineserver.in"
                          },
                          "zone": {
                            "type": "string",
                            "example": "domain"
                          },
                          "dnssec": {
                            "type": "string",
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "post": {
        "summary": "",
        "operationId": "postDnsZone",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "34agcZhdkV8E1b6fD5P6vae",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "name_ace": "creolineserver.in",
                      "name_idn": "creolineserver.in",
                      "zone": "domain",
                      "dnssec": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name_ace": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "name_idn": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "zone": {
                          "type": "string",
                          "example": "domain"
                        },
                        "dnssec": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Must be at least 2 characters.",
                    "example": "wtubquvfaromjfrxzykjoyplwylfwvhvsnminnvfankiqfizurwrahzzhteogyietnfijfwketqopqur",
                    "nullable": false
                  },
                  "zone": {
                    "type": "string in:domain,ipv4,ipv6",
                    "description": "Type of the zone record",
                    "example": "ipsam",
                    "nullable": false
                  },
                  "nameserver": {
                    "type": "boolean",
                    "description": "true to create creoline default nameserver entries",
                    "example": true,
                    "nullable": false
                  }
                },
                "required": [
                  "name",
                  "zone",
                  "nameserver"
                ]
              }
            }
          }
        }
      }
    },
    "/dns/zone/{name}": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneName",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "6PkcVe8h4Davdb5g1aZfE36",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "name_ace": "creolineserver.in",
                      "name_idn": "creolineserver.in",
                      "zone": "domain",
                      "dnssec": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name_ace": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "name_idn": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "zone": {
                          "type": "string",
                          "example": "domain"
                        },
                        "dnssec": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "delete": {
        "summary": "",
        "operationId": "deleteDnsZoneName",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "a6eVf8D1kgvZca5hbE463dP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "tags": [
          "DNS"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "voluptatem",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/record/soa": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRecordSoa",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "b4vZP18haV3eE65gkaD6fcd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "name_ace": "creolineserver.in",
                      "name_idn": "creolineserver.in",
                      "zone": "domain",
                      "dnssec": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name_ace": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "name_idn": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "zone": {
                          "type": "string",
                          "example": "domain"
                        },
                        "dnssec": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "put": {
        "summary": "",
        "operationId": "putDnsZoneNameRecordSoa",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "b6Z1ecP3hk48daf5vEa6DVg",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "name_ace": "creolineserver.in",
                      "name_idn": "creolineserver.in",
                      "zone": "domain",
                      "dnssec": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name_ace": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "name_idn": {
                          "type": "string",
                          "example": "creolineserver.in"
                        },
                        "zone": {
                          "type": "string",
                          "example": "domain"
                        },
                        "dnssec": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "primaryNS": {
                    "type": "string",
                    "description": "",
                    "example": "quos",
                    "nullable": false
                  },
                  "adminMail": {
                    "type": "string",
                    "description": "",
                    "example": "aut",
                    "nullable": false
                  },
                  "refresh": {
                    "type": "string",
                    "description": "",
                    "example": "iste",
                    "nullable": false
                  },
                  "retry": {
                    "type": "string",
                    "description": "",
                    "example": "est",
                    "nullable": false
                  },
                  "expire": {
                    "type": "string",
                    "description": "",
                    "example": "doloribus",
                    "nullable": false
                  },
                  "defaultTTL": {
                    "type": "string",
                    "description": "",
                    "example": "quae",
                    "nullable": false
                  }
                },
                "required": [
                  "primaryNS",
                  "adminMail",
                  "refresh",
                  "retry",
                  "expire",
                  "defaultTTL"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "aperiam",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/record": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRecord",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "16v6aDEgfVhcb48Z5eP3dak",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "type": "PTR",
                        "host": "26.0.168.192.in-addr.arpa",
                        "record": "xp4px.creolineserver.in",
                        "priority": null,
                        "caa_flag": null,
                        "caa_type": null,
                        "caa_value": null,
                        "ttl": 86400,
                        "weight": null,
                        "port": null,
                        "tlsa_usage": null,
                        "tlsa_selector": null,
                        "tlsa_matching_type": null,
                        "algorithm": 0,
                        "fptype": 0,
                        "rp_mail": ""
                      },
                      {
                        "id": 1,
                        "type": "PTR",
                        "host": "26.0.168.192.in-addr.arpa",
                        "record": "xp4px.creolineserver.in",
                        "priority": null,
                        "caa_flag": null,
                        "caa_type": null,
                        "caa_value": null,
                        "ttl": 86400,
                        "weight": null,
                        "port": null,
                        "tlsa_usage": null,
                        "tlsa_selector": null,
                        "tlsa_matching_type": null,
                        "algorithm": 0,
                        "fptype": 0,
                        "rp_mail": ""
                      }
                    ]
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 1,
                          "type": "PTR",
                          "host": "26.0.168.192.in-addr.arpa",
                          "record": "xp4px.creolineserver.in",
                          "priority": null,
                          "caa_flag": null,
                          "caa_type": null,
                          "caa_value": null,
                          "ttl": 86400,
                          "weight": null,
                          "port": null,
                          "tlsa_usage": null,
                          "tlsa_selector": null,
                          "tlsa_matching_type": null,
                          "algorithm": 0,
                          "fptype": 0,
                          "rp_mail": ""
                        },
                        {
                          "id": 1,
                          "type": "PTR",
                          "host": "26.0.168.192.in-addr.arpa",
                          "record": "xp4px.creolineserver.in",
                          "priority": null,
                          "caa_flag": null,
                          "caa_type": null,
                          "caa_value": null,
                          "ttl": 86400,
                          "weight": null,
                          "port": null,
                          "tlsa_usage": null,
                          "tlsa_selector": null,
                          "tlsa_matching_type": null,
                          "algorithm": 0,
                          "fptype": 0,
                          "rp_mail": ""
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "type": {
                            "type": "string",
                            "example": "PTR"
                          },
                          "host": {
                            "type": "string",
                            "example": "26.0.168.192.in-addr.arpa"
                          },
                          "record": {
                            "type": "string",
                            "example": "xp4px.creolineserver.in"
                          },
                          "priority": {
                            "type": "string",
                            "example": null
                          },
                          "caa_flag": {
                            "type": "string",
                            "example": null
                          },
                          "caa_type": {
                            "type": "string",
                            "example": null
                          },
                          "caa_value": {
                            "type": "string",
                            "example": null
                          },
                          "ttl": {
                            "type": "integer",
                            "example": 86400
                          },
                          "weight": {
                            "type": "string",
                            "example": null
                          },
                          "port": {
                            "type": "string",
                            "example": null
                          },
                          "tlsa_usage": {
                            "type": "string",
                            "example": null
                          },
                          "tlsa_selector": {
                            "type": "string",
                            "example": null
                          },
                          "tlsa_matching_type": {
                            "type": "string",
                            "example": null
                          },
                          "algorithm": {
                            "type": "integer",
                            "example": 0
                          },
                          "fptype": {
                            "type": "integer",
                            "example": 0
                          },
                          "rp_mail": {
                            "type": "string",
                            "example": ""
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "post": {
        "summary": "",
        "operationId": "postDnsZoneNameRecord",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "3fvEea6ZDak4Pcbhg61d5V8",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "type": "PTR",
                      "host": "26.0.168.192.in-addr.arpa",
                      "record": "xp4px.creolineserver.in",
                      "priority": null,
                      "caa_flag": null,
                      "caa_type": null,
                      "caa_value": null,
                      "ttl": 86400,
                      "weight": null,
                      "port": null,
                      "tlsa_usage": null,
                      "tlsa_selector": null,
                      "tlsa_matching_type": null,
                      "algorithm": 0,
                      "fptype": 0,
                      "rp_mail": ""
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "type": {
                          "type": "string",
                          "example": "PTR"
                        },
                        "host": {
                          "type": "string",
                          "example": "26.0.168.192.in-addr.arpa"
                        },
                        "record": {
                          "type": "string",
                          "example": "xp4px.creolineserver.in"
                        },
                        "priority": {
                          "type": "string",
                          "example": null
                        },
                        "caa_flag": {
                          "type": "string",
                          "example": null
                        },
                        "caa_type": {
                          "type": "string",
                          "example": null
                        },
                        "caa_value": {
                          "type": "string",
                          "example": null
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 86400
                        },
                        "weight": {
                          "type": "string",
                          "example": null
                        },
                        "port": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_usage": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_selector": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_matching_type": {
                          "type": "string",
                          "example": null
                        },
                        "algorithm": {
                          "type": "integer",
                          "example": 0
                        },
                        "fptype": {
                          "type": "integer",
                          "example": 0
                        },
                        "rp_mail": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "example": "et",
                    "nullable": false
                  },
                  "ttl": {
                    "type": "number",
                    "description": "",
                    "example": 165.57,
                    "nullable": false
                  },
                  "host": {
                    "type": "string",
                    "description": "",
                    "example": "beatae",
                    "nullable": false
                  },
                  "record": {
                    "type": "string",
                    "description": "This field is required unless <code>type</code> is in <code>CAA</code>.",
                    "example": null,
                    "nullable": false
                  },
                  "caa_flag": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>CAA</code>.",
                    "example": "128",
                    "nullable": false,
                    "enum": [
                      "0",
                      "128"
                    ]
                  },
                  "caa_type": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>CAA</code>.",
                    "example": "iodef",
                    "nullable": false,
                    "enum": [
                      "issue",
                      "issuewild",
                      "issuemail",
                      "iodef"
                    ]
                  },
                  "caa_value": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>CAA</code>.",
                    "example": "eaque",
                    "nullable": false
                  },
                  "priority": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>MX</code> or <code>SRV</code>. Must be between 0 and 65535.",
                    "example": 1,
                    "nullable": false
                  },
                  "weight": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>SRV</code>. Must be between 0 and 65535.",
                    "example": 0,
                    "nullable": false
                  },
                  "port": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>SRV</code>. Must be between 0 and 65535.",
                    "example": 0,
                    "nullable": false
                  },
                  "algorithm": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>SSHFP</code>.",
                    "example": "4",
                    "nullable": false,
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4"
                    ]
                  },
                  "fptype": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>SSHFP</code>.",
                    "example": null,
                    "nullable": false
                  },
                  "tlsa_usage": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>TLSA</code>.",
                    "example": "3",
                    "nullable": false,
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "tlsa_selector": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>TLSA</code>.",
                    "example": "0",
                    "nullable": false,
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "tlsa_matching_type": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>TLSA</code>.",
                    "example": "0",
                    "nullable": false,
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  }
                },
                "required": [
                  "type",
                  "ttl",
                  "host"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "fugit",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/record/{id}": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRecordId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "5gvh846Z31baPkVceEfaDd6",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "type": "PTR",
                      "host": "26.0.168.192.in-addr.arpa",
                      "record": "xp4px.creolineserver.in",
                      "priority": null,
                      "caa_flag": null,
                      "caa_type": null,
                      "caa_value": null,
                      "ttl": 86400,
                      "weight": null,
                      "port": null,
                      "tlsa_usage": null,
                      "tlsa_selector": null,
                      "tlsa_matching_type": null,
                      "algorithm": 0,
                      "fptype": 0,
                      "rp_mail": ""
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "type": {
                          "type": "string",
                          "example": "PTR"
                        },
                        "host": {
                          "type": "string",
                          "example": "26.0.168.192.in-addr.arpa"
                        },
                        "record": {
                          "type": "string",
                          "example": "xp4px.creolineserver.in"
                        },
                        "priority": {
                          "type": "string",
                          "example": null
                        },
                        "caa_flag": {
                          "type": "string",
                          "example": null
                        },
                        "caa_type": {
                          "type": "string",
                          "example": null
                        },
                        "caa_value": {
                          "type": "string",
                          "example": null
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 86400
                        },
                        "weight": {
                          "type": "string",
                          "example": null
                        },
                        "port": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_usage": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_selector": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_matching_type": {
                          "type": "string",
                          "example": null
                        },
                        "algorithm": {
                          "type": "integer",
                          "example": 0
                        },
                        "fptype": {
                          "type": "integer",
                          "example": 0
                        },
                        "rp_mail": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "put": {
        "summary": "",
        "operationId": "putDnsZoneNameRecordId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "46vVaa5kZegfb8dP136DhcE",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "type": "PTR",
                      "host": "26.0.168.192.in-addr.arpa",
                      "record": "xp4px.creolineserver.in",
                      "priority": null,
                      "caa_flag": null,
                      "caa_type": null,
                      "caa_value": null,
                      "ttl": 86400,
                      "weight": null,
                      "port": null,
                      "tlsa_usage": null,
                      "tlsa_selector": null,
                      "tlsa_matching_type": null,
                      "algorithm": 0,
                      "fptype": 0,
                      "rp_mail": ""
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "type": {
                          "type": "string",
                          "example": "PTR"
                        },
                        "host": {
                          "type": "string",
                          "example": "26.0.168.192.in-addr.arpa"
                        },
                        "record": {
                          "type": "string",
                          "example": "xp4px.creolineserver.in"
                        },
                        "priority": {
                          "type": "string",
                          "example": null
                        },
                        "caa_flag": {
                          "type": "string",
                          "example": null
                        },
                        "caa_type": {
                          "type": "string",
                          "example": null
                        },
                        "caa_value": {
                          "type": "string",
                          "example": null
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 86400
                        },
                        "weight": {
                          "type": "string",
                          "example": null
                        },
                        "port": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_usage": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_selector": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_matching_type": {
                          "type": "string",
                          "example": null
                        },
                        "algorithm": {
                          "type": "integer",
                          "example": 0
                        },
                        "fptype": {
                          "type": "integer",
                          "example": 0
                        },
                        "rp_mail": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ttl": {
                    "type": "number",
                    "description": "",
                    "example": 272.5,
                    "nullable": false
                  },
                  "host": {
                    "type": "string",
                    "description": "",
                    "example": "neque",
                    "nullable": false
                  },
                  "record": {
                    "type": "string",
                    "description": "This field is required unless <code>type</code> is in <code>CAA</code>.",
                    "example": null,
                    "nullable": false
                  },
                  "caa_flag": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>CAA</code>.",
                    "example": "0",
                    "nullable": false,
                    "enum": [
                      "0",
                      "128"
                    ]
                  },
                  "caa_type": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>CAA</code>.",
                    "example": "issuewild",
                    "nullable": false,
                    "enum": [
                      "issue",
                      "issuewild",
                      "issuemail",
                      "iodef"
                    ]
                  },
                  "caa_value": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>CAA</code>.",
                    "example": "dolorem",
                    "nullable": false
                  },
                  "priority": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>MX</code> or <code>SRV</code>. Must be between 0 and 65535.",
                    "example": 1,
                    "nullable": false
                  },
                  "weight": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>SRV</code>. Must be between 0 and 65535.",
                    "example": 1,
                    "nullable": false
                  },
                  "port": {
                    "type": "number",
                    "description": "This field is required when <code>type</code> is <code>SRV</code>. Must be between 0 and 65535.",
                    "example": 0,
                    "nullable": false
                  },
                  "algorithm": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>SSHFP</code>.",
                    "example": "1",
                    "nullable": false,
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4"
                    ]
                  },
                  "fptype": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>SSHFP</code>.",
                    "example": null,
                    "nullable": false
                  },
                  "tlsa_usage": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>TLSA</code>.",
                    "example": "3",
                    "nullable": false,
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ]
                  },
                  "tlsa_selector": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>TLSA</code>.",
                    "example": "0",
                    "nullable": false,
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "tlsa_matching_type": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>TLSA</code>.",
                    "example": "0",
                    "nullable": false,
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  }
                },
                "required": [
                  "ttl",
                  "host"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "",
        "operationId": "deleteDnsZoneNameRecordId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "egEkZVhc6D8v534baP16fda",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "type": "PTR",
                      "host": "26.0.168.192.in-addr.arpa",
                      "record": "xp4px.creolineserver.in",
                      "priority": null,
                      "caa_flag": null,
                      "caa_type": null,
                      "caa_value": null,
                      "ttl": 86400,
                      "weight": null,
                      "port": null,
                      "tlsa_usage": null,
                      "tlsa_selector": null,
                      "tlsa_matching_type": null,
                      "algorithm": 0,
                      "fptype": 0,
                      "rp_mail": ""
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "type": {
                          "type": "string",
                          "example": "PTR"
                        },
                        "host": {
                          "type": "string",
                          "example": "26.0.168.192.in-addr.arpa"
                        },
                        "record": {
                          "type": "string",
                          "example": "xp4px.creolineserver.in"
                        },
                        "priority": {
                          "type": "string",
                          "example": null
                        },
                        "caa_flag": {
                          "type": "string",
                          "example": null
                        },
                        "caa_type": {
                          "type": "string",
                          "example": null
                        },
                        "caa_value": {
                          "type": "string",
                          "example": null
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 86400
                        },
                        "weight": {
                          "type": "string",
                          "example": null
                        },
                        "port": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_usage": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_selector": {
                          "type": "string",
                          "example": null
                        },
                        "tlsa_matching_type": {
                          "type": "string",
                          "example": null
                        },
                        "algorithm": {
                          "type": "integer",
                          "example": 0
                        },
                        "fptype": {
                          "type": "integer",
                          "example": 0
                        },
                        "rp_mail": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "molestiae",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "id",
          "description": "The ID of the record.",
          "example": "veritatis",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/redirect/web": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRedirectWeb",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "6DehfVaa86d4vgkbcE1ZP35",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "location": "https://creoline.com",
                        "host": "seeded",
                        "url": "seeded.simple-domain.de",
                        "code": 302,
                        "params": true,
                        "ssl": false,
                        "ttl": 60,
                        "status": "OK"
                      },
                      {
                        "id": 1,
                        "location": "https://creoline.com",
                        "host": "seeded",
                        "url": "seeded.simple-domain.de",
                        "code": 302,
                        "params": true,
                        "ssl": false,
                        "ttl": 60,
                        "status": "OK"
                      }
                    ]
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 1,
                          "location": "https://creoline.com",
                          "host": "seeded",
                          "url": "seeded.simple-domain.de",
                          "code": 302,
                          "params": true,
                          "ssl": false,
                          "ttl": 60,
                          "status": "OK"
                        },
                        {
                          "id": 1,
                          "location": "https://creoline.com",
                          "host": "seeded",
                          "url": "seeded.simple-domain.de",
                          "code": 302,
                          "params": true,
                          "ssl": false,
                          "ttl": 60,
                          "status": "OK"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "location": {
                            "type": "string",
                            "example": "https://creoline.com"
                          },
                          "host": {
                            "type": "string",
                            "example": "seeded"
                          },
                          "url": {
                            "type": "string",
                            "example": "seeded.simple-domain.de"
                          },
                          "code": {
                            "type": "integer",
                            "example": 302
                          },
                          "params": {
                            "type": "boolean",
                            "example": true
                          },
                          "ssl": {
                            "type": "boolean",
                            "example": false
                          },
                          "ttl": {
                            "type": "integer",
                            "example": 60
                          },
                          "status": {
                            "type": "string",
                            "example": "OK"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "post": {
        "summary": "",
        "operationId": "postDnsZoneNameRedirectWeb",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "avaPZ8cDf3456gVEhbkd16e",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "location": "https://creoline.com",
                      "host": "seeded",
                      "url": "seeded.simple-domain.de",
                      "code": 302,
                      "params": true,
                      "ssl": false,
                      "ttl": 60,
                      "status": "OK"
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "location": {
                          "type": "string",
                          "example": "https://creoline.com"
                        },
                        "host": {
                          "type": "string",
                          "example": "seeded"
                        },
                        "url": {
                          "type": "string",
                          "example": "seeded.simple-domain.de"
                        },
                        "code": {
                          "type": "integer",
                          "example": 302
                        },
                        "params": {
                          "type": "boolean",
                          "example": true
                        },
                        "ssl": {
                          "type": "boolean",
                          "example": false
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 60
                        },
                        "status": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "",
                    "example": "voluptas",
                    "nullable": false
                  },
                  "host": {
                    "type": "string",
                    "description": "",
                    "example": null,
                    "nullable": true
                  },
                  "params": {
                    "type": "integer",
                    "description": "",
                    "example": 2,
                    "nullable": false
                  },
                  "code": {
                    "type": "integer",
                    "description": "",
                    "example": "302",
                    "nullable": false,
                    "enum": [
                      "301",
                      "302"
                    ]
                  },
                  "ssl": {
                    "type": "boolean",
                    "description": "",
                    "example": true,
                    "nullable": false
                  },
                  "ttl": {
                    "type": "integer",
                    "description": "",
                    "example": 7,
                    "nullable": false
                  }
                },
                "required": [
                  "location",
                  "params",
                  "code",
                  "ssl",
                  "ttl"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "cumque",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/redirect/web/{id}": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRedirectWebId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "Dfa8345v6hkcE6gbd1aePZV",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "location": "https://creoline.com",
                      "host": "seeded",
                      "url": "seeded.simple-domain.de",
                      "code": 302,
                      "params": true,
                      "ssl": false,
                      "ttl": 60,
                      "status": "OK"
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "location": {
                          "type": "string",
                          "example": "https://creoline.com"
                        },
                        "host": {
                          "type": "string",
                          "example": "seeded"
                        },
                        "url": {
                          "type": "string",
                          "example": "seeded.simple-domain.de"
                        },
                        "code": {
                          "type": "integer",
                          "example": 302
                        },
                        "params": {
                          "type": "boolean",
                          "example": true
                        },
                        "ssl": {
                          "type": "boolean",
                          "example": false
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 60
                        },
                        "status": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "put": {
        "summary": "",
        "operationId": "putDnsZoneNameRedirectWebId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "6c61heaZ8g5bd3EvaPfk4DV",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "location": "https://creoline.com",
                      "host": "seeded",
                      "url": "seeded.simple-domain.de",
                      "code": 302,
                      "params": true,
                      "ssl": false,
                      "ttl": 60,
                      "status": "OK"
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "location": {
                          "type": "string",
                          "example": "https://creoline.com"
                        },
                        "host": {
                          "type": "string",
                          "example": "seeded"
                        },
                        "url": {
                          "type": "string",
                          "example": "seeded.simple-domain.de"
                        },
                        "code": {
                          "type": "integer",
                          "example": 302
                        },
                        "params": {
                          "type": "boolean",
                          "example": true
                        },
                        "ssl": {
                          "type": "boolean",
                          "example": false
                        },
                        "ttl": {
                          "type": "integer",
                          "example": 60
                        },
                        "status": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "",
                    "example": "rerum",
                    "nullable": false
                  },
                  "params": {
                    "type": "integer",
                    "description": "",
                    "example": 16,
                    "nullable": false
                  },
                  "code": {
                    "type": "integer",
                    "description": "",
                    "example": "301",
                    "nullable": false,
                    "enum": [
                      "301",
                      "302"
                    ]
                  },
                  "ssl": {
                    "type": "boolean",
                    "description": "",
                    "example": true,
                    "nullable": false
                  }
                },
                "required": [
                  "location",
                  "params",
                  "code",
                  "ssl"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "",
        "operationId": "deleteDnsZoneNameRedirectWebId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "vaDeag65dPE3fhbk1V8Zc64",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "tags": [
          "DNS"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "quibusdam",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "id",
          "description": "The ID of the web.",
          "example": "iusto",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/redirect/mail": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRedirectMail",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "caf3VPhEevgZk65b1D64d8a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": 1,
                        "zone_id": 8425261,
                        "record_id": 599432939,
                        "domain": "seeded.in",
                        "source": "dev-source@seeded.in",
                        "destination": "dev-destination@seeder-connected-domain-one.de",
                        "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                        "verified_at": "2025-08-29T21:44:58.000000Z"
                      },
                      {
                        "id": 1,
                        "zone_id": 8425261,
                        "record_id": 599432939,
                        "domain": "seeded.in",
                        "source": "dev-source@seeded.in",
                        "destination": "dev-destination@seeder-connected-domain-one.de",
                        "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                        "verified_at": "2025-08-29T21:44:58.000000Z"
                      }
                    ]
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 1,
                          "zone_id": 8425261,
                          "record_id": 599432939,
                          "domain": "seeded.in",
                          "source": "dev-source@seeded.in",
                          "destination": "dev-destination@seeder-connected-domain-one.de",
                          "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                          "verified_at": "2025-08-29T21:44:58.000000Z"
                        },
                        {
                          "id": 1,
                          "zone_id": 8425261,
                          "record_id": 599432939,
                          "domain": "seeded.in",
                          "source": "dev-source@seeded.in",
                          "destination": "dev-destination@seeder-connected-domain-one.de",
                          "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                          "verified_at": "2025-08-29T21:44:58.000000Z"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "zone_id": {
                            "type": "integer",
                            "example": 8425261
                          },
                          "record_id": {
                            "type": "integer",
                            "example": 599432939
                          },
                          "domain": {
                            "type": "string",
                            "example": "seeded.in"
                          },
                          "source": {
                            "type": "string",
                            "example": "dev-source@seeded.in"
                          },
                          "destination": {
                            "type": "string",
                            "example": "dev-destination@seeder-connected-domain-one.de"
                          },
                          "token": {
                            "type": "string",
                            "example": "56940719-da41-47ec-ae38-5fa956abe9bd"
                          },
                          "verified_at": {
                            "type": "string",
                            "example": "2025-08-29T21:44:58.000000Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "post": {
        "summary": "",
        "operationId": "postDnsZoneNameRedirectMail",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "fhP8E1e3kcZDv5da4V6b6ag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "zone_id": 8425261,
                      "record_id": 599432939,
                      "domain": "seeded.in",
                      "source": "dev-source@seeded.in",
                      "destination": "dev-destination@seeder-connected-domain-one.de",
                      "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                      "verified_at": "2025-08-29T21:44:58.000000Z"
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "zone_id": {
                          "type": "integer",
                          "example": 8425261
                        },
                        "record_id": {
                          "type": "integer",
                          "example": 599432939
                        },
                        "domain": {
                          "type": "string",
                          "example": "seeded.in"
                        },
                        "source": {
                          "type": "string",
                          "example": "dev-source@seeded.in"
                        },
                        "destination": {
                          "type": "string",
                          "example": "dev-destination@seeder-connected-domain-one.de"
                        },
                        "token": {
                          "type": "string",
                          "example": "56940719-da41-47ec-ae38-5fa956abe9bd"
                        },
                        "verified_at": {
                          "type": "string",
                          "example": "2025-08-29T21:44:58.000000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Must match the regex /^[A-Za-z_.-]+$/.",
                    "example": "sY_C",
                    "nullable": true
                  },
                  "destination": {
                    "type": "string",
                    "description": "Must be a valid email address.",
                    "example": "benton67@example.org",
                    "nullable": false
                  },
                  "tos": {
                    "type": "boolean",
                    "description": "Must be accepted.",
                    "example": true,
                    "nullable": false
                  }
                },
                "required": [
                  "destination",
                  "tos"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "et",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/dns/zone/{name}/redirect/mail/{id}": {
      "get": {
        "summary": "",
        "operationId": "getDnsZoneNameRedirectMailId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "cVekg616vbPfEh8D4Za3a5d",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "zone_id": 8425261,
                      "record_id": 599432939,
                      "domain": "seeded.in",
                      "source": "dev-source@seeded.in",
                      "destination": "dev-destination@seeder-connected-domain-one.de",
                      "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                      "verified_at": "2025-08-29T21:44:58.000000Z"
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "zone_id": {
                          "type": "integer",
                          "example": 8425261
                        },
                        "record_id": {
                          "type": "integer",
                          "example": 599432939
                        },
                        "domain": {
                          "type": "string",
                          "example": "seeded.in"
                        },
                        "source": {
                          "type": "string",
                          "example": "dev-source@seeded.in"
                        },
                        "destination": {
                          "type": "string",
                          "example": "dev-destination@seeder-connected-domain-one.de"
                        },
                        "token": {
                          "type": "string",
                          "example": "56940719-da41-47ec-ae38-5fa956abe9bd"
                        },
                        "verified_at": {
                          "type": "string",
                          "example": "2025-08-29T21:44:58.000000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ]
      },
      "put": {
        "summary": "",
        "operationId": "putDnsZoneNameRedirectMailId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "bcah3P6d6aZkv84VEgD15ef",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 1,
                      "zone_id": 8425261,
                      "record_id": 599432939,
                      "domain": "seeded.in",
                      "source": "dev-source@seeded.in",
                      "destination": "dev-destination@seeder-connected-domain-one.de",
                      "token": "56940719-da41-47ec-ae38-5fa956abe9bd",
                      "verified_at": "2025-08-29T21:44:58.000000Z"
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "zone_id": {
                          "type": "integer",
                          "example": 8425261
                        },
                        "record_id": {
                          "type": "integer",
                          "example": 599432939
                        },
                        "domain": {
                          "type": "string",
                          "example": "seeded.in"
                        },
                        "source": {
                          "type": "string",
                          "example": "dev-source@seeded.in"
                        },
                        "destination": {
                          "type": "string",
                          "example": "dev-destination@seeder-connected-domain-one.de"
                        },
                        "token": {
                          "type": "string",
                          "example": "56940719-da41-47ec-ae38-5fa956abe9bd"
                        },
                        "verified_at": {
                          "type": "string",
                          "example": "2025-08-29T21:44:58.000000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destination": {
                    "type": "string",
                    "description": "Must be a valid email address.",
                    "example": "montana13@example.org",
                    "nullable": false
                  },
                  "tos": {
                    "type": "boolean",
                    "description": "Must be accepted.",
                    "example": true,
                    "nullable": false
                  }
                },
                "required": [
                  "destination",
                  "tos"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "",
        "operationId": "deleteDnsZoneNameRedirectMailId",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "kPDbaE13VZ564d6fh8vagec",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "tags": [
          "DNS"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "name",
          "description": "",
          "example": "dolorem",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "id",
          "description": "The ID of the mail.",
          "example": "omnis",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/domains/contacts": {
      "get": {
        "summary": "",
        "operationId": "getDomainsContacts",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "v8Vg6EDfhbk5cZP34ea6d1a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "type": "PERSON",
                        "organization": "1",
                        "alias": null,
                        "city": "Münster",
                        "country": "DE",
                        "state": "NRW",
                        "email": "development@creoline.com",
                        "protection": "SHOW_ALL",
                        "title": null,
                        "firstname": "Max",
                        "lastname": "Mustermann",
                        "address": "Mittelerde 15",
                        "zip": "48151",
                        "phone": "173 1234567",
                        "fax": null
                      },
                      {
                        "type": "PERSON",
                        "organization": "1",
                        "alias": null,
                        "city": "Münster",
                        "country": "DE",
                        "state": "NRW",
                        "email": "development@creoline.com",
                        "protection": "SHOW_ALL",
                        "title": null,
                        "firstname": "Max",
                        "lastname": "Mustermann",
                        "address": "Mittelerde 15",
                        "zip": "48151",
                        "phone": "173 1234567",
                        "fax": null
                      }
                    ]
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "type": "PERSON",
                          "organization": "1",
                          "alias": null,
                          "city": "Münster",
                          "country": "DE",
                          "state": "NRW",
                          "email": "development@creoline.com",
                          "protection": "SHOW_ALL",
                          "title": null,
                          "firstname": "Max",
                          "lastname": "Mustermann",
                          "address": "Mittelerde 15",
                          "zip": "48151",
                          "phone": "173 1234567",
                          "fax": null
                        },
                        {
                          "type": "PERSON",
                          "organization": "1",
                          "alias": null,
                          "city": "Münster",
                          "country": "DE",
                          "state": "NRW",
                          "email": "development@creoline.com",
                          "protection": "SHOW_ALL",
                          "title": null,
                          "firstname": "Max",
                          "lastname": "Mustermann",
                          "address": "Mittelerde 15",
                          "zip": "48151",
                          "phone": "173 1234567",
                          "fax": null
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "PERSON"
                          },
                          "organization": {
                            "type": "string",
                            "example": "1"
                          },
                          "alias": {
                            "type": "string",
                            "example": null
                          },
                          "city": {
                            "type": "string",
                            "example": "Münster"
                          },
                          "country": {
                            "type": "string",
                            "example": "DE"
                          },
                          "state": {
                            "type": "string",
                            "example": "NRW"
                          },
                          "email": {
                            "type": "string",
                            "example": "development@creoline.com"
                          },
                          "protection": {
                            "type": "string",
                            "example": "SHOW_ALL"
                          },
                          "title": {
                            "type": "string",
                            "example": null
                          },
                          "firstname": {
                            "type": "string",
                            "example": "Max"
                          },
                          "lastname": {
                            "type": "string",
                            "example": "Mustermann"
                          },
                          "address": {
                            "type": "string",
                            "example": "Mittelerde 15"
                          },
                          "zip": {
                            "type": "string",
                            "example": "48151"
                          },
                          "phone": {
                            "type": "string",
                            "example": "173 1234567"
                          },
                          "fax": {
                            "type": "string",
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": ""
                }
              }
            }
          }
        },
        "tags": [
          "Domains"
        ]
      },
      "post": {
        "summary": "",
        "operationId": "postDomainsContacts",
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "X-Api-Token",
            "description": "",
            "example": "fdV6cD5e14aEk8Zg6Pvahb3",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "type": "PERSON",
                      "organization": "1",
                      "alias": null,
                      "city": "Münster",
                      "country": "DE",
                      "state": "NRW",
                      "email": "development@creoline.com",
                      "protection": "SHOW_ALL",
                      "title": null,
                      "firstname": "Max",
                      "lastname": "Mustermann",
                      "address": "Mittelerde 15",
                      "zip": "48151",
                      "phone": "173 1234567",
                      "fax": null
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "PERSON"
                        },
                        "organization": {
                          "type": "string",
                          "example": "1"
                        },
                        "alias": {
                          "type": "string",
                          "example": null
                        },
                        "city": {
                          "type": "string",
                          "example": "Münster"
                        },
                        "country": {
                          "type": "string",
                          "example": "DE"
                        },
                        "state": {
                          "type": "string",
                          "example": "NRW"
                        },
                        "email": {
                          "type": "string",
                          "example": "development@creoline.com"
                        },
                        "protection": {
                          "type": "string",
                          "example": "SHOW_ALL"
                        },
                        "title": {
                          "type": "string",
                          "example": null
                        },
                        "firstname": {
                          "type": "string",
                          "example": "Max"
                        },
                        "lastname": {
                          "type": "string",
                          "example": "Mustermann"
                        },
                        "address": {
                          "type": "string",
                          "example": "Mittelerde 15"
                        },
                        "zip": {
                          "type": "string",
                          "example": "48151"
                        },
                        "phone": {
                          "type": "string",
                          "example": "173 1234567"
                        },
                        "fax": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": ""
                }
              }
            }
          }
        },
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "example": "ORG",
                    "nullable": false,
                    "enum": [
                      "ORG",
                      "PERSON",
                      "ROLE"
                    ]
                  },
                  "organization": {
                    "type": "string",
                    "description": "This field is required when <code>type</code> is <code>ORG</code>. Must match the regex /^[a-zA-Z0-9äöüÄÖÜß&()\\-.[:space:]]+$/. Must be at least 3 characters.",
                    "example": "szuvjdgjrodtuesbrffohl",
                    "nullable": true
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Must be at least 3 characters.",
                    "example": "tdbhbpxmgztvdaigmiihystihkimuiclnaluyjmsbvtsfepwglvmpuaxvkufbrihkxrvwteaabdnlurfugg",
                    "nullable": false
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Must match the regex /^[a-zA-Z0-9äöüÄÖÜ()\\-.[:space:]]+$/. Must be at least 3 characters.",
                    "example": "ajplpckixntxqcfrcmczwbtxkwyjosslg",
                    "nullable": false
                  },
                  "title": {
                    "type": "string",
                    "description": "",
                    "example": "quod",
                    "nullable": true
                  },
                  "address": {
                    "type": "string",
                    "description": "Must be at least 3 characters.",
                    "example": "gdkruifxvgekxkcyqfmqhitmudqpzjclbsxjwfmaxqezrsiuovxmhmmqsy",
                    "nullable": false
                  },
                  "state": {
                    "type": "string",
[...]
